body {
	background: url(../images/bg.png) repeat;
} 

.form-listing * ol {
	list-style-type: none;
}

.container {
	margin-top: 20px;
	margin-bottom: 20px;
}

ul.impressum {
	list-style-type: none;
}

span.quelle {
	float: right;
}

.btn:focus, 
.btn:focus:active {
	outline: none;
	outline-offset: 0;
}