{% extends 'BinaerpilotenMagicBundle::index.html.twig' %}

{% block content %}
    <h1>Stichwort creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('stichwort') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
