<li>
	<div class="btn-group primary main-menu">
		<button type="button" 
						class="btn dropdown-toggle"
						data-toggle="dropdown">
			<span class="glyphicon glyphicon-chevron-left pull-left"></span> Karten
		</button>
		<ul class="dropdown-menu pull-right" role="menu">
			<li><a href="{{ path('karte') }}">Alle Karten</a></li>
			<li><a href="{{ path('kartefilter_new',{ }) }}">Karten suchen</a></li>
		</ul>
	</div>
</li>