<li>
	<div class="btn-group primary">
		<button type="button" 
						class="btn dropdown-toggle"
						data-toggle="dropdown">
			<span class="glyphicon glyphicon-chevron-left"></span> Karten
		</button>
		<ul class="dropdown-menu pull-right" role="menu">
			<li>
				<div class="btn-group secondary">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						Karten
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{{ path('karte') }}">Alle Karten</a></li>
						{% if is_granted('ROLE_ADMIN') %}
						<li class="divider"></li>
						<li><a href="{{ path('karte_new') }}">Neue Karte</a></li>
						{% endif %}
					</ul>
				</div>
			</li>
			<li><a href="{{ path('kartefilter_new',{ }) }}">Karten suchen</a></li>
		</ul>
	</div>
</li>