<li>
	<div class="btn-group primary">
		<button type="button" 
						class="btn dropdown-toggle"
						data-toggle="dropdown">
			<span class="glyphicon glyphicon-chevron-left"></span> Spiele
		</button>
		<ul class="dropdown-menu pull-right" role="menu">
			<li><a>bla</a></li>
		</ul>
	</div>
</li>